@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

//FONTS
$sansFont: 'Open Sans', sans-serif;
$serifFont: 'Playfair Display', serif;

//COLORS
$stormy: #494E6B;
$cloud: #98878F;
$sunset: #985E6D;
$twilight: #372228;
$evening: #192231;
$night: #0B1016;
$black: #000;
$white: #fff;
$grey: #606060;
$light-grey: #bcbcbc;

$black-opaque: rgba(0, 0, 0, 0.6);
$black-opaque-2: rgba(0, 0, 0, 0.8);
$black-opaque-3: rgba(0, 0, 0, 0.01);
$black-opaque-4: rgba(0, 0, 0, 0.9);
$white-opaque: rgba(255, 255,255, 0.35);
$white-opaque-2: rgba(229, 229, 229, 0.75);

$sunset-opaque: rgba(152, 93, 109, 0.35);
$sunset-opaque-2: rgba(152, 93, 109, 0.85);
$stormy-opaque: rgba(72, 77, 106, 0.5);
$stormy-opaque-2: rgba(72, 77, 106, 0.94);
$evening-opaque: rgba(25, 34, 49, 0.5);
$evening-opaque-2: rgba(25, 34, 49, 0.7);
$cloud-opaque: rgba(152, 135, 143, 0.5);
$cloud-opaque-2: rgba(152, 135, 143, 0.85);
$night-opaque: rgba(11, 16, 22, 0.5);

$stormy-input-bg: #30384D;
$stormy-opaque-input-bg: #757981;

$snowy-sky: #949494

