@import './../../sass/mixins';
@import './../../sass/variables';


.ticketsPage {
    background-color: $black-opaque-2;
    width: 320px;
    min-height: 815px;
    // border: 1px solid red;
    padding: 30px 0px;
    margin: 10px 0;
    overflow: scroll;
    font-family: $sansFont;
    text-align: center;
    .ticketsInfo {
        margin-left: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    h2 {
        font: {
            family: $serifFont;
            size: 120%;
        }
        text-transform: uppercase;
        margin: 10px 0 10px 0;
        width: 100%;
    }
    li {
        margin-bottom: 5px;
        color: $stormy;
        font-family: $sansFont;
    }

    p {
        margin: 10px 0;
        font-size: 90%;
        a,
        Link {
            color: $white !important;
            text-decoration: none !important;
        }
        img {
            width: calc(290px - 20px);
            height: auto;
        }
    }

    h3 {
        font: {
            family: $serifFont;
            size: 100%;
        }
        text-transform: uppercase;
        margin: 30px 0 10px 0;
    }
    .selectContainer {
        border: {
            top: none;
            right: none;
            left: 1px solid $cloud;
            bottom: 1px solid $cloud;                
        }
        width: 250px;
    }
    select {
        width: 250px;
        margin: 0 0 1px 1px;
        border: none;
        padding-left: 7px;
        font: {
            family: $sansFont;
            size: 50%;
        }
        letter-spacing: 0.2em;
        color: $white;
        &:focus {
            outline: none;
        }
        // background-color: $stormy-input-bg;
        background-color: $black-opaque-3;        
        
    }
}

#basketSpan {
    padding: 15px 0 0 0;
    button {
        color: $white;
        font: {
            family: $sansFont;
            size: 90%;
        }
        
        letter-spacing: 0.2em;
        background-color: $cloud-opaque-2;
        border: none;
        padding: 7px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $sunset-opaque-2;
        }
    }
}

.ticketChooser {
    border: {
        top: 1px solid $cloud;
        bottom: 1px solid $cloud;
        left: none;
        right: none;
    }
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 30px 0; 
    background-color: $black-opaque;
    position: relative;
    width: 500px;
    h2 {
        position: absolute;
        top: 10px;
    }
    span {
        position: absolute;
        width: 100%;
        height: 20px;
    }

    #levelSpan {
        top: 50px;
    }

    #seatSpan {
        top: 70px;
    }

    #stageSpan {
        bottom: 0;
    }
    // section {
    //     padding-top: 10px;
    // }
    div {
        width: 470px;
        height: 150px;
        background-color: $white-opaque-2;
        
        &:hover {
            background-color: $cloud-opaque-2;
        }
        border-radius: 10px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        position: relative;
        p {
            padding: 0;
            margin: 3px 3px;
        }
        .emptyBalcSpaceA {
            width: 370px;
            height: 12px;
        }
        .emptyBalcSpaceB {
            width: 330px;
            height: 12px;
        }
    }

    .mezzanine {
        top: 0px;
        transform: 
            rotate3d(1.5, 1.5, -4, 166deg)
            scale(0.8);
    }
    .orchestra {
        top: 200px;
        transform: 
            rotate3d(1.5, 1.5, -4, 166deg)
            scale(0.8);
    }
    .balcony {
        top: -200px;
        transform: 
            rotate3d(1.5, 1.5, -4, 166deg)
            scale(0.8);
    }
    .seat {
        width: 5px;
        height: 12px;
        margin: 3px 3px;
        background-color: $black;
        &:focus {
            outline: none;
        }
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid $black;

    }

    .available {
        background-color: $white-opaque;
        &:hover {
            background-color: $stormy;
        }
    }

    .onHold {
        background-color: $sunset;
        &:hover {
            background-color: $stormy;
        }
    }

    
}
// style={{display: this.state.basketToggle ? 'block' : 'none'}}
.ticketCheckout {
    display: none;
    opacity: 0;
    transform: scale(0.01);
    width: 100vw;
    height: 100vh;
    background-color: $black-opaque-2;
    position: fixed;
    top: 0;
    left: 0;

    align-items: center;
    justify-content: center;

    div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        width: 320px;
        // min-height: 200px;
        background-color: $black;

    }

    h1 {
        width: 100%;
        margin: 30px;
        font: {
            family: $serifFont;
            size: 2rem;
        }
    }

    span {
        width: 100%;
    }
    ul {
        width: 100%;
    }
    li {
        width: 100%;
        color: $white;
        font-size: 100%;

        height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;

        span {
            width: 60%;
            height: 40px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            // border: 1px red solid;
        }

        .seatPrice {
            width: 30%;
            // padding-left: 10px;
            text-align: right !important;
            padding: 0 10px 0 0!important;
            justify-content: flex-end;
        }
        .seatRemover {
            padding: 0 !important;
            width: 10%;
            justify-content: center;
            img {
                height: 20px;
                cursor: pointer;
                &:hover {
                    color: $sunset;
                }
            }
        }
    }

    
    button {
        color: $white;
        font: {
            family: $sansFont;
            size: 90%;
        }
        margin: 15px 30px;
        
        letter-spacing: 0.2em;
        background-color: $cloud-opaque-2;
        border: none;
        padding: 7px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $sunset-opaque-2;
        }
    }

}

@media (min-width: 550px) {
    .ticketsPage {
        width: 500px;
    }
}

@media (min-width: 800px) {
    .ticketsPage {
        width: 650px;
        padding: 30px 20px;
    }

    .ticketChooser {
        width: 610px;
    }
}